.footer_container {
  container-type: inline-size;

  height: fit-content;
}

.footer {
  padding: 16px;
  height: 45px;
  display: flex;

  background-color: white;
}

.footer_icon {
  /* position: absolute; */
  height: 45px;
  width: 45px;
  fill: black;
}

.footer_icon:hover {
  fill: blue;
}

.footer_last-item {
  margin-left: auto;
}

.footer_input {
  height: 100%;
  width: 100%;
  max-width: 200px;
  min-width: fit-content;
  border-radius: 8px;

  padding: 12px 20px;
  margin: 0 16px;
  box-sizing: border-box;
  border: 2px solid black;
}

@container (width < 400px) {
  .footer_icon {
    height: 35px;
    width: 35px;
  }

  .footer {
    height: 35px;
  }
}
