html, body {
  height: 100vh;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;

  background-color: white;
  background: repeating-linear-gradient(white, white 25px, #b5b9dd 26px, #b5b9dd 27px);
}

.mainContainer {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 7px;
  margin: 0 auto;
}
